* {
        font-family: 'Mukta', sans-serif;
        font-size: 18px;
}

#p-extstyle {
        color: yellow;
}

h1 {
        font-size: 55px;
}

#intro {
        text-transform: uppercase;
}

.prog-lang {
        background-color: #a5d6a7;
}

li[tools] {
        border-style: solid;
        border-color: #4b7395;
        border-width: 1.5px;
}

img + ul {
        list-style-type: none;
}

section img {
        height: 120px;
        width: 120px;
        border-radius: 60px;
}

section > ul {
        letter-spacing: 5px;
}

ul ~ p {
        text-align: center;
}